Repository wd-David/svelte-hover-draw-svg: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

.lintstagedrc:

{
	"*.{js,ts,svelte,css,scss,postcss,json}": [
		"prettier --write --plugin-search-dir=.",
		"prettier --check --plugin-search-dir=."
	],
	"*.{js,ts,svelte}": "eslint"
}

docs: add tabs in code block
  README.md
Due: none

docs: update README.md
  README.md
Due: none

chore(release): 1.1.1
  CHANGELOG.md
  package.json
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=.

docs: update Features description
  README.md
Due: none

chore(release): 1.1.2
  CHANGELOG.md
  package.json
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=.

feat: replace "--draw-speed" with "--duration"
  src/lib/HoverDrawSVG.svelte
  src/routes/index.svelte
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

chore(release): 2.0.0
  CHANGELOG.md
  package.json
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=.

chore(release): 2.0.1
  CHANGELOG.md
  package.json
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=.

style: formatting
  .prettierignore
  commitlint.config.cjs
Due: none

ci(github actions): add ci, release, and dependabot
  .github/dependabot.yml
  .github/workflows/ci.yml
  .github/workflows/release.yml
Due: none

chore: add release:patch to scripts
  package.json
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=.

ci: update release workflow
  .github/workflows/release.yml
Due: none

build(dep): bump packages to latest version
  package.json
  pnpm-lock.yaml
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=.

refactor: change wrapper class name from path to hover-draw-svg
  src/lib/HoverDrawSVG.svelte
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

test(playwright): add E2E test
  .gitignore
  playwright.config.ts
  tests/test.ts
  tests/test.ts-snapshots/candle-darwin.png
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

build(ci): update workflows
  .github/workflows/ci.yml
  .github/workflows/release.yml
  package.json
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=.

chore(release): 2.0.2
  CHANGELOG.md
  package.json
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=.

ci(husky): add pnpm test ti pre-push
  .husky/pre-push
Due: none

ci: add Insatll Playwright step
  .github/workflows/ci.yml
  .github/workflows/release.yml
Due: none

ci(snapshot): add linux snapshot png for github actions
  tests/test.ts-snapshots/candle-linux.png
Due: none

ci(runs-on): change to macos for snapshot os filename
  .github/workflows/ci.yml
  .github/workflows/release.yml
  tests/test.ts-snapshots/candle-linux.png
Due: none

ci: remove --with-deps
  .github/workflows/ci.yml
  .github/workflows/release.yml
Due: none

ci(snapshot): add --update-snapshots
  .github/workflows/release.yml
  package.json
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=.

chore(release): 2.0.3
  CHANGELOG.md
  package.json
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=.

docs: add badges to README.md
  README.md
Due: none

ci(release.yml): remove ci step
  .github/workflows/release.yml
Due: none

chore(release): 2.0.4
  CHANGELOG.md
  package.json
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=.

chore(dependabot, renovate): change npm weekly schedule from dependabot to renovate
  .github/dependabot.yml
  renovate.json
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=.

test(snapshot): update snapshot
  tests/test.ts-snapshots/candle-darwin.png
Due: none

ci(renovate): configure automerge
  renovate.json
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=.

chore: add commitizen cli
  .commitlintrc
  .czrc
  commitlint.config.cjs
  package.json
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=.

chore(bump): bumpped sveltekit to latest version, add and set up vite.config.js
  package.json
  playwright.config.ts
  pnpm-lock.yaml
  vite.config.js
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

test(snapshot): add snapshot under windows
  tests/test.ts-snapshots/candle-win32.png
Due: none

Upgrade SvelteKit to the latest version (#16)
  package.json
  playwright.config.ts
  pnpm-lock.yaml
  tests/test.ts-snapshots/candle-win32.png
  vite.config.js
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

chore(release): 2.0.5
  CHANGELOG.md
  package.json
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=.

build: bumpped packages to the latest version
  package.json
  pnpm-lock.yaml
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=.

test(snapshot): update linux snapshot
  tests/test.ts-snapshots/candle-linux.png
Due: none

build: bumpped packages to the latest version (#22)
  package.json
  pnpm-lock.yaml
  tests/test.ts-snapshots/candle-linux.png
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=.

chore(script): remove "svelte-kit sync"
  package.json
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=.
