Repository wd-David/svelte-hover-draw-svg: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

.lintstagedrc:

{
	"*.{js,ts,svelte,css,scss,postcss,json}": [
		"prettier --write --plugin-search-dir=.",
		"prettier --check --plugin-search-dir=."
	],
	"*.{js,ts,svelte}": "eslint"
}

ci(renovate): update renovate.json to separate automerge strategy
  renovate.json
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=.

chore(release): 2.0.6
  CHANGELOG.md
  package.json
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=.

refactor: rename index.svelte to +page.svelte for the migration
  src/routes/+page.svelte
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

feat(svelte-package): replace svelte-kit package with svelte-package
  package.json
  pnpm-lock.yaml
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=.

chore(release): 2.1.0
  CHANGELOG.md
  package.json
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=.

ci: add pnpm build to generate SvelteKit tsconfig for pnpm package
  .github/workflows/release.yml
Due: none

chore(release): 2.1.1
  CHANGELOG.md
  package.json
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=.

ci(release.yml): fix typo, there was two && operator
  .github/workflows/release.yml
Due: none

chore(release): 2.1.2
  CHANGELOG.md
  package.json
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=.

chore(release): 2.1.3
  CHANGELOG.md
  package.json
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=.

test(snapshot): update snapshot
  tests/test.ts-snapshots/candle-darwin.png
Due: none

chore(release): 2.1.4
  CHANGELOG.md
  package.json
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=.

chore(release): 2.1.5
  CHANGELOG.md
  package.json
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=.

docs: update README.md
  README.md
  assets/logo.svg
  assets/svelte-hover-draw-svg.gif
Due: none

ci(git-hooks): remove git hooks like husky & commitizen
  .husky/commit-msg
  .husky/pre-commit
  .husky/pre-push
  package.json
  pnpm-lock.yaml
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=.

test(playwright): add reuseExistingServer config
  playwright.config.ts
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

chore: bumped packages
  pnpm-lock.yaml
Due: none

ci: remove husky install in scripts
  package.json
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=.

ci(git-hooks): remove git hooks like husky & commitizen (#47)
  .husky/commit-msg
  .husky/pre-commit
  .husky/pre-push
  package.json
  playwright.config.ts
  pnpm-lock.yaml
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

chore(release): 2.1.6
  CHANGELOG.md
  package.json
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=.

chore: bump SvelteKit to 1.0 (others as well)
  package.json
  pnpm-lock.yaml
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=.

chore: bump SvelteKit to 1.0 (others as well) (#52)
  package.json
  pnpm-lock.yaml
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=.

chore(release): 2.1.7
  CHANGELOG.md
  package.json
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=.

chore: bumps deps
  package.json
  pnpm-lock.yaml
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=.

chore: bumps deps (#69)
  package.json
  pnpm-lock.yaml
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=.

chore(release): 2.1.8
  CHANGELOG.md
  package.json
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=.

ci: deal with new svelte-package
  .commitlintrc
  .czrc
  .github/workflows/release.yml
  .gitignore
  .lintstagedrc
  package.json
  pnpm-lock.yaml
  src/lib/index.ts
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

ci: deal with new svelte-package (#70)
  .commitlintrc
  .czrc
  .github/workflows/release.yml
  .gitignore
  .lintstagedrc
  package.json
  pnpm-lock.yaml
  src/lib/index.ts
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

chore(release): 3.0.0
  CHANGELOG.md
  package.json
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=.

fix: modify export in package.json
  package.json
  src/lib/index.ts
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

fix: modify export in package.json (#71)
  package.json
  src/lib/index.ts
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

chore(release): 3.0.1
  CHANGELOG.md
  package.json
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=.

chore: update playwright config
  playwright.config.ts
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint
